APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_DRIVER=mailgun
BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

MAILGUN_DOMAIN=
MAILGUN_PUB_SECRET=
MAILGUN_PRI_SECRET=

EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_CALLBACK_URL=https://example.com/callback
